<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="Test1" parallel="methods" thread-count="4">
        <classes>
            <class name="com.solvd.HomeTest"/>
            <class name="com.solvd.LoginTest"/>
            <class name="com.solvd.CartTest"/>
        </classes>
    </test>
</suite>